*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: rgb(87, 87, 139);
}
html{
  font-size: 62.5%;
}

.container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: fit-content;
}

.imgDiv{
  height: 100vh;
  background-image: url("./Animals/Images/homeimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.imgDiv h4{
  margin-top: 2rem;
  font-size: 4rem;
}

/* .imgDiv button{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 3rem;
  box-shadow: 3px 8px 6px -6px black;
}
.imgDiv button:hover{
  box-shadow: 3px 8px 6px -6px aquamarine;
} */

.formDiv{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 216, 220);
}

.animal_form {
  background-color: rgb(111, 180, 245);
  width: 60%;
  height: fit-content;
  /* border: 1px solid black; */
  border-radius: 5rem;
  /* margin: 10rem auto 10rem; */
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.animal_form input[type="text"] {
  width: 50%;
  border-radius: 3rem;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 2rem;
  box-shadow: 3px 8px 6px -6px black;
}

.animal_form input[type="url"] {
  width: 80%;
  border-radius: 3rem;
  padding: 1rem;
  outline: none;
  border: none;
  color: black;
  font-size: 2rem;
  box-shadow: 3px 8px 6px -6px black;
}


.animal_form button[type="button"] {
  width: 8rem;
  border-radius: 3rem;
  padding: 1rem;
  outline: none;
  border: none;
  color: black;
  font-size: 2rem;
  margin-top: 4rem;
  font-weight: bold;
  box-shadow: 3px 8px 6px -6px black;
}

.animal_form label {
  font-size: 3rem;
  font-weight: bold;
}

/* animal.js page styling */
.animalContainer{
  background-color: rgb(87, 87, 139);
  /* border: 1px solid black; */
  /* display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; */
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.animal{
  /* border: 1px solid black; */
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem;
}

.animalName{
  /* border: 1px solid black; */
  height: 5rem;
  width: 30rem;
  line-height:1rem;
   text-align: center;
   padding: 2rem;
   font-size: 2rem;

}
.animalDelete button{
  height: 4rem;
  width: 100%;
  line-height:0.5rem;
   text-align: center;
   padding: 2rem;
   font-size: 2rem;
   border: none;
   border-radius: 3rem;
   box-shadow: 3px 8px 6px -6px black;
}

.animalDelete button:hover{
  box-shadow: 3px 8px 6px -6px aquamarine;

}

.animalImg{
  /* margin-top: 0.5rem; */
  /* border: 1px solid black; */
  width: fit-content;
  height: fit-content;
}
.animalImg img{
  height: 25rem;
  width: 30rem;
}
/* @media (max-width:768px){
  .animalContainer{
    grid-template-columns: auto;
  }
} */